		
		
		<!--  Navbars -->
		
		
		
		
		<nav class="navbar navbar-inverse" role="navigation" style=" style="body { padding-top: 70px; }">
		    <ul class="nav navbar-nav">
		      <li><a href="index.html">Logout</a> </li>
		      <li><a href="myinfo.html">My Information</a> </li>
		      <li><a href="all.html">List all achievements</a> </li>
		    </ul>
		</nav>  
		
		<!--  Footer Bar, pined -->
		<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation" style="body { padding-bottom: 70px; }">
		    <h4>Some other information.. </h4>
		    
		
		    
		</nav>
		

		
		
		